<!DOCTYPE html>
<html>
<%- include('head') %>

<body>
  <div class="docs-header">
    <%- include('header') %>
  </div>
  <main>
    <section class="py-lg-14 py-10">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-8 mt-8">
            <img src="/assets/icons/no-results.svg" width="250">
            <h5>La page que vous recherchez n'a pas pu être trouvée.</h5>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>
<%- include('footer') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
<script type="text/javascript" src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/assets/libs/simplebar/dist/simplebar.min.js"></script>
<script type="text/javascript" src="/assets/js/theme.min.js"></script>
<script type="text/javascript" src="/assets/js/theme.js"></script>

</html>